.component {
  width: 60%;
}

.component a {
  width: 100%;
  text-decoration: none;
  color: #d4d4d4;
}

.ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  max-height: 600px;
  overflow-y: auto;
}

.li {
  position: relative;
  display: flex;
  align-items: center;
  width: 90%;
  cursor: pointer;
}